* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Arial";
}
#container {
    width: 620px;
    margin: 0 auto;
    border: 1px dotted #000000;
    padding: 15px;
    margin-top: 31px;
}
.main-nav {
    width: 120px;
    height: 30px;
    background: #708090;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding-top: 6px; 
    text-decoration: none;       
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;     
}
.header-nav{
    display: inline-block;
    margin-right: 11px; 
}
.header {
    margin-bottom: 15px;
}
.heading {
    background: #F5F5F5;
    padding: 15px 13px;
} 
.box-heading {
    line-height: 1;

} 
.about-heading {
    font-size: 18px;
    line-height: 1;
    margin-top: 10px;
} 
.img-block {
    width: 120px;
    height: 150px;
    margin: 17px 0 15px;
    border: 1px dotted #000000;
    padding: 10px;
}   
.image {
    width: 100%;
}
.paragraph {
    font-size: 14px;
    line-height: 1.143;
    margin-top: 15px;
}
.footer {
    border: 1px dotted #000000;
    padding:12px 0 0 9px; 
    margin-top: 16px;
}
.heading-links {
    font-size: 14px;
    margin-bottom: 7px;    
}
.go-link {
    font-size: 14px;
    color: #708090;
}
.link {
    padding-right: 15px; 
    display: inline-block;
    padding-bottom: 12px;
}